In [4]:
#right triangle wiith stars
x= int(input("enter a nunber of rows:"))

for i in range(x):
  for j in range(i + 1):
    print("* ", end="")
  print("")

enter a nunber of rows:4
*
* *
* * *
* * * *

In [12]:
#inverted right traingle
y=int(input("Enter no of rows:"))

for i in range(y, 0, -1/):
    for j in range(0, i):
        print("* ", end=" ")
    print("")

Enter no of rows:5
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [40]:
#equialteral triangle
a = int(input("enter no of rows:"))
m = (2 * a) - 2
for i in range(0, a):
  for j in range(0, m):
    print(end=" ")
    # decreasing m after each loop
  m = m - 2
  for j in range(0, i + 1):
     print("* ", end="")
  print(" ")

enter no of rows:5
        *
      *  *
    *  *  *
  *  *  *  *
*  *  *  *  *

In [42]:
#inverted equialteral triangle
b=int(input("enter no of rows:"))
  
k = 2 * b - 2  
 
for i in range(b, -1, -1):    
    for j in range(k, 0, -1):  
        print(end=" ")  
    k = k + 1  
     
    for j in range(0, i + 1):  
        print("*", end=" ")  
    print("")

enter no of rows:8
              * * * * * * * * *
               * * * * * * * *
                * * * * * * *
                 * * * * * *
                  * * * * *
                   * * * *
                    * * *
                     * *
                      *