<a href="https://colab.research.google.com/github/Unbeatable2687/HW-of-18-5/blob/main/HW_of_19_05_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Star
rows = int(input("Enter the number of rows: "))  
  

k = 2 * rows - 2  

for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
     
    k = k - 1  
    
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")  
  
print(" ",'*' * (rows*5-12))
print("","*" , "           ","*")
 
print(" ",'*' * (rows*5-12)) 



k = rows - 2  
 
for i in range(rows, -1, -1):  
    for j in range(k, 0, -1):  
        print(end=" ")  
     
    k = k + 1  
   
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")

Enter the number of rows: 5
        *
       * *
      * * *
     * * * *
    * * * * *
  *************
 *             *
  *************
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [15]:
#Diamond
rows = int(input("Enter the number of rows: "))  
  

k = 2 * rows - 2  

for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
     
    k = k - 1  
    
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")  
  


k = rows - 2  
 
for i in range(rows, -1, -1):  
    for j in range(k, 0, -1):  
        print(end=" ")  
     
    k = k + 1  
   
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")

Enter the number of rows: 5
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [18]:
#pascals triangle
n = int(input("Enter the no of rows:"))
 
for i in range(1, n+1):
    for j in range(0, n-i+1):
        print(' ', end='')
 
    x = 1
    for j in range(1, i+1):
 
        print(' ', x, sep='', end='')
 
      
        x = x * (i - j) // j
    print()

Enter the no of rows:5
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [5]:
#house
x = int(input("Enter the size of the house: "))
y = x*2 -3

for i in range(x):
  for j in range(y):
    print(end=" ")

  y=y-1
  for j in range(0,i+1):
    print("*", end=" ")
  print()


for a in range(x):
  for b in range(x*3):
    print("*", end="")
  print()

Enter the size of the house: 5
       *
      * *
     * * *
    * * * *
   * * * * *
***************
***************
***************
***************
***************

In [17]:
#shooting weapon
rows = int(input("Enter size: "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" "* (rows +2), "* *", ">"* rows )
for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

Enter size: 5
*
* *
* * *
* * * *
* * * * *
        * * >>>>>
* * * * *
* * * *
* * *
* *
*

In [21]:
#sandglass 
rows = int(input("Enter the number of rows: "))
k = rows -2
for i in range(rows, -1, -1):  
    for j in range(k, 0, -1):  
        print(end=" ")  
     
    k = k + 1  
   
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")

k = 2 * rows - 2  

for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
     
    k = k - 1  
    
    for j in range(0, i + 1):  
        print("* ", end="")  
    print("")

Enter the number of rows: 5
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *